.container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 20px;
  row-gap: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.item-resources {
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 10px;
  min-height: 600px;
}

.title {
  font-weight: 700;
}

.close {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}